@media (max-width: 360px) {
  .tabs span {
    font-size: 9px;
  }
}

@media (max-width: 290px) {
  .tabs .btn-services-tab {
    font-size: 5px;
  }
}

@media (max-width: 500px) {
  .wrapper {width:100%;  margin: 0 auto; }
  .home-header h1 {
    font-size: 38px;
  }
  .home-header h3 {
    font-size: 20px;
  }
  .discover-page p {
    font-size: 15px;
  }
  .about-header h1 {
    font-size: 54px;
  }
  .about-header h3 {
    font-size: 22px;
  }
  .tag-about h3 {
    font-size: 20px;
  }
  .about-text p {
    font-size: 15px;
  }
  .work-description p {
    font-size: 15px;
  }
  .bg-gradient h1 {
    font-size: 28px;
  }
  
}

a:link { text-decoration: none; }

p {
  font-family: 'Montserrat', sans-serif;
}

.font {
  font-family: 'Montserrat Alternates', sans-serif;
}

.font-two {
  font-family: 'Kanit', sans-serif;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(300deg, rgb(91, 173, 255), rgb(204, 0, 204), rgb(255, 92, 92));
 -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.large-text {
  font-size: 18px;
}

.large-text-two {
  font-size: 16px;
}

.text-black {
  color: black;
}

.fa-github-work {
  color: black;
  font-size: 30px;
}

.fa-star {
  color: rgb(0, 140, 255);
}

.dark-bg {
  background-color: rgb(29, 38, 45);
  padding: 0px 45px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(190, 190, 190);

}

.bg-gradient {
  background-image: linear-gradient(300deg, rgb(91, 173, 255), rgb(204, 0, 204), rgb(255, 92, 92));
}

.navbar {
  box-shadow: 0 0 10px rgb(202, 202, 202);
}

.navbrand {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
}

.drop-menu {
  background-color: rgba(255, 255, 255, 0.834);
  padding: 30px;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px rgba(49, 49, 49, 0.486);
}

.drop-item a {
  color: rgb(0, 0, 0);
}

.drop-item:hover a {
  color: rgba(0, 0, 0, 0.894);
}

.drop-item:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.398);
  border-radius: 50px;
}

.btn-black {
  color: white;
  background-color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 25px;
}

.btn-black:hover {
  color: rgba(255, 255, 255, 0.689);
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.803);
  transition: 1s;
}

.btn-gradient {
  color: white;
  font-weight: 600;
  background-image: linear-gradient(to right top,rgb(91, 173, 255), rgb(204, 0, 204), rgb(255, 92, 92) );
  border-radius: 50px;
  border: none;
  padding: 8px 24px 8px 24px;
}

.btn-gradient:hover {
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: none;
  background-color: black;
  background-image: none;
  transition: all ease-in-out 2s;
}

.b-link:hover {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.665);
  transition: .5s;
}

.fa-cloud-arrow-down {
  background-color: #f3ec78;
  background-image: linear-gradient(300deg, rgb(91, 173, 255), rgb(204, 0, 204), rgb(255, 92, 92));
 -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.home-card {
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(228, 228, 228);
}

.home-header, .about-header {
  
  height: 500px;
  background-image: url("https://res.cloudinary.com/dhrs5mwhz/image/upload/v1655054175/LayerLabs/dynamic-wang-EHnrP9CanuQ-unsplash_x98uqd.jpg");
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(190, 190, 190);
  margin: auto;
}

.home-header {
  background-image: url("/public/assets/images/layerlabs-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-header {
  background-image: url('/public/assets/images/layerlabs-bg3.jpg');
}

.home-title {
  font-size: 65px;
}

.home-header-text {
  font-size:35px;
}

.home-card-text {
  color: rgb(141, 141, 141);
}

.carousel-img {
  border-radius: 15px;
}

.carousel-content {
  background-color: rgb(29, 38, 45);
  border-radius: 25px;
  box-shadow: 0 0 10px rgb(190, 190, 190);
}

.carousel-card {
  color: white;
  background-color: rgba(255, 255, 255, 0.145);
  padding: 15px;
  border-radius: 25px;
}

.btn-services-tab {
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  box-shadow: 0 0 10px rgb(190, 190, 190);
}

.btn-services-active, .btn-services-active:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 50px;
}

.btn-services {
  border: 1px solid rgb(188, 188, 188);
  border-radius: 50px;
}

.btn-services:hover {
  font-weight: 600;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 50px;
  transition: 1.1s;
}

.package-card {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(300deg, rgba(91, 173, 255, 0.735), rgba(204, 0, 204, 0.661), rgb(255, 92, 92));
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(214, 214, 214);
}

.cards-bg {
  background-color: rgba(0, 0, 0, 0.142);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(249, 249, 249, 0.16);
}

.breadcrumb {
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
}

.custom-card {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(214, 214, 214);
}

.business-card {
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(106, 106, 106);
}

.steps-card {
  color: white;
  background-color: rgb(29, 38, 45);
  height: 300px;
  border: 1px solid white;
  border-radius: 15px;
}

.services-bg {
  background-image: url("https://res.cloudinary.com/dhrs5mwhz/image/upload/v1655054175/LayerLabs/dynamic-wang-EHnrP9CanuQ-unsplash_x98uqd.jpg");
  background-size: cover;
}

.card-discover {
  background-color: rgb(29, 38, 45);
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 10px rgb(190, 190, 190);
  
}

.discover-img {
  width: 550px;
  height: 350px;
  border-radius: 25px;
  border: none;
  box-shadow: 0 0 10px rgb(232, 232, 232);
}

.about-tag {
  border: 1px solid rgb(213, 213, 213);
  border-radius: 50px;
  padding: 15px 30px;
  box-shadow: 0 0 10px rgb(225, 225, 225);
}

.row-layerlabs {
  background-image: url('/public/assets/images/layerlabs-bg.jpg');
  background-size: cover;
  height: 300px;
}

.shirleys-studio-header {
  margin-top: 40px;
  font-size: 60px;
}

.row-contact {
  background-image: url("/public/assets/images/layerlabs-bg.jpg");
  background-size: cover;
}

.contact-card {
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px rgb(119, 119, 119);
}

.profile-card {
  color: white;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgb(202, 202, 202);
}

.footer {
  background-color: #edf2f4;
}

.footer h6 {
  color: darkgrey;
}

.footer .link {
  color: rgb(165, 165, 165);
}

.footer li, p {
  font-size: 14px;
}

.footer, .fa-github, .fa-instagram, .fa-linkedin, .fa-medium {
  color: rgb(0, 0, 0);
}

.move-img {
  animation-name : mymove;
  animation-iteration-count : infinite;
  animation-direction : alternate;
  animation-duration : 2s;
}

@keyframes mymove {
  from {transform: translateY(0px);}
  to {transform: translateY(20px);}
}





